body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url(img/bg-img.jng);
    background-size: cover;
    background-repeat:repeat-y;

}

nav {
	margin: 100px auto; 
	text-align: center;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: red; 
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #666;
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 25px 40px;
			color: #fff; text-decoration: none;
		}
			
		
	nav ul ul {
		background: red; border-radius: 0px; padding: 0;
		position: absolute; top: 100%; 
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid red;
			border-bottom: 1px solid red; position: relative; 

		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #666;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}	
.foto{
		position: relative;
		top: 300px;
		right: 450px;
	}
.Biodata{
	position: relative;
		top: 0px;
		left : 350px;
}